$colors:(
    word-back: #ff4e33,
    button-back: #e3aa00,
    cont-col: #3b3f50,
    bg-col: #21232e,
    text-col: white,
    grad1: #e0a703,
    grad2: #97344e,
);
$font: 'Fresca';
$mar-l: 150px;
$mar2: 0px;
$mar3: -60px;
$header-image: '../img/m-h-night.jpg';